#toggle {
    display: none;
}

.form-check-label {
    font-size: 24px;
    cursor: pointer;
    color: purple;
}
 
.dark-body {
    background-color: $background-body-dark;
    
}

.dark-main-box-to-do {
    background-color: $background-main-box-dark;
    
    width: 730px;
    border-radius: 16px;
    border: 2px;
    height: 100%;
    margin-top: 15%;
    margin-bottom: 100px;
}

.dark-header-box-custom {
    background-color: $dark-header-box;
}

.dark-list-principal-class {
    background-color: $background-table-dark-principal;
    color: $text-white;
}

.dark-list-secundary-class {
    background-color: $background-table-dark-secundary;
    color: $text-white;
}
