.BodyPrincipalDark {
    background-color: $background-body-dark;

    &-form-check-label {
        font-size: 24px;
        cursor: pointer;
        color: purple;
    }

    &-dark-main-box {
        background-color: $background-main-box-dark ;
        width: 730px;
        border-radius: 16px;
        border: 2px;
        height: 100%;
        margin-top: 15%;
        margin-bottom: 100px;
    }

    &-header-box {
        background-color: $dark-header-box;
    }
}
