.BodyPrincipalDark {
    background-color: $background-body-dark;

    &-form-check-label {
        font-size: 24px;
        cursor: pointer;
        color: purple;
    }

    &-dark-main-box {
        background-color: $background-main-box-dark;
        width: 730px;
        border-radius: 16px;
        border: 2px;
        height: 100%;
        margin-top: 15%;
        margin-bottom: 100px;
    }

    &-header-box {
        background-color: $dark-header-box;
    }
    

  
    
}
//
//  special clacess for 

// .BodyPrincipal-list-custom-light:nth-child(2n) {
//     background-color:$background-white;
//   }
  
//   .BodyPrincipal-list-custom-light:nth-child(2n+1) {
//      background-color: $background-list-color;
 
//   }
  



//   .BodyPrincipal-list-custom-dark:nth-child(2n) {
//     background-color:$list-baground-second;
//     color: $text-white;
  
//   }
  
//   .BodyPrincipal-list-custom-dark:nth-child(2n+1) {
//     background-color:$list-baground-first;
//     color: $text-white;

//   }
// ///  