ul#list-to-do {
    width: 670PX;
}

input#toggle {
    margin-bottom: 3PX;
}





.form-check.form-switch {
    display: flex;
    align-items: center;
    gap: 9px;
}

.checkbox input[type="checkbox"]:checked + .custom-checkbox {
    background-color: #000; /* Cambia el color de fondo cuando el checkbox está marcado */
}



.checkbox input[type="checkbox"] {
    display: none; /* Oculta el checkbox nativo */
}