$background-green:rgba(146, 142, 142, 1);
$background-green-lite:rgba(246, 246, 246, 1);
$text-white:rgba(255, 255, 255, 1);
$background-white:rgba(255, 255, 255, 1);
$text-white:rgba(255, 255, 255, 1);
$background-yellow:rgba(248, 155, 28, 1);
$background-list-color:rgba(242, 242, 242, 1);
$boreder-list-color:rgba(217, 217, 217, 1);
$button-edit-color: rgba(40, 167, 69, 1);
$button-trash-color:rgba(220, 53, 69, 1);
$text-black:rgb(0,9,9);
$background-main-box-dark:rgba(55, 97, 132, 1);
$background-body-dark:rgba(33, 47, 60, 1);
$dark-header-box:rgba(28, 48, 65, 1);
$background-table-dark-principal:rgba(24, 41, 56, 1);
$background-table-dark-secundary: rgba(73, 130, 180, 1);



